<div class="row">
    <div class="col">
        <form id="myForm">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Full Name">
                </div>

                <div class="form-group col-md-4">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address">
                </div>

                <div class="form-group col-md-4">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Mobile">
                </div>
            </div>
            

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="book">Book Name</label>
                    <input type="text" class="form-control" id="book" placeholder="What book do you borrow?">
                </div>
                <div class="form-group col-md-4">
                    <label for="author">Author Name</label>
                    <input type="text" class="form-control" id="author" placeholder="Author">
                </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="borrow">Borrow date</label>
                <input type="date" class="form-control" id="borrow">
              </div>

              <div class="form-group col-md-6">
                <label for="return">Return date</label>
                <input type="date" class="form-control" id="return">
              </div>

            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>